
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: rgb(56, 58, 70, 0.3);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.54em;
    --top-offset: 28.85vh;
    --fall-duration: 7.928s;
    --fall-delay: 6.674s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.77em;
    --top-offset: 48.71vh;
    --fall-duration: 11.126s;
    --fall-delay: 6.119s;
  }
  .star:nth-child(3) {
    --star-tail-length: 7.05em;
    --top-offset: 61.26vh;
    --fall-duration: 8.999s;
    --fall-delay: 7.035s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.69em;
    --top-offset: 8.4vh;
    --fall-duration: 9.741s;
    --fall-delay: 5.249s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.99em;
    --top-offset: 38.51vh;
    --fall-duration: 7.545s;
    --fall-delay: 5.851s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.37em;
    --top-offset: 12.8vh;
    --fall-duration: 11.87s;
    --fall-delay: 0.322s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.52em;
    --top-offset: 69.56vh;
    --fall-duration: 8.481s;
    --fall-delay: 3.768s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.85em;
    --top-offset: 79.24vh;
    --fall-duration: 9.795s;
    --fall-delay: 6.645s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.71em;
    --top-offset: 8.28vh;
    --fall-duration: 6.806s;
    --fall-delay: 4.406s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.63em;
    --top-offset: 11.2vh;
    --fall-duration: 7.158s;
    --fall-delay: 5.279s;
  }
  .star:nth-child(11) {
    --star-tail-length: 5.36em;
    --top-offset: 96.53vh;
    --fall-duration: 8.257s;
    --fall-delay: 1.763s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.96em;
    --top-offset: 97.12vh;
    --fall-duration: 11.493s;
    --fall-delay: 1.859s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.18em;
    --top-offset: 54.72vh;
    --fall-duration: 8.954s;
    --fall-delay: 9.501s;
  }
  .star:nth-child(14) {
    --star-tail-length: 7.09em;
    --top-offset: 13.15vh;
    --fall-duration: 9.437s;
    --fall-delay: 2.902s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.11em;
    --top-offset: 68.49vh;
    --fall-duration: 8.932s;
    --fall-delay: 2.39s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.14em;
    --top-offset: 48.98vh;
    --fall-duration: 7.904s;
    --fall-delay: 3.85s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.98em;
    --top-offset: 37.33vh;
    --fall-duration: 6.17s;
    --fall-delay: 8.26s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.36em;
    --top-offset: 81.6vh;
    --fall-duration: 11.833s;
    --fall-delay: 7.663s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.57em;
    --top-offset: 91.45vh;
    --fall-duration: 7.396s;
    --fall-delay: 7.172s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.28em;
    --top-offset: 21.69vh;
    --fall-duration: 6.058s;
    --fall-delay: 2.372s;
  }
  .star:nth-child(21) {
    --star-tail-length: 7.4em;
    --top-offset: 95.54vh;
    --fall-duration: 10.537s;
    --fall-delay: 7.977s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.58em;
    --top-offset: 93.89vh;
    --fall-duration: 7.45s;
    --fall-delay: 5.101s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.79em;
    --top-offset: 12.61vh;
    --fall-duration: 9.858s;
    --fall-delay: 0.226s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.54em;
    --top-offset: 3.95vh;
    --fall-duration: 8.294s;
    --fall-delay: 3.026s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.5em;
    --top-offset: 37.27vh;
    --fall-duration: 7.729s;
    --fall-delay: 6.499s;
  }
  .star:nth-child(26) {
    --star-tail-length: 7.05em;
    --top-offset: 27.37vh;
    --fall-duration: 9.85s;
    --fall-delay: 1.991s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.88em;
    --top-offset: 14.19vh;
    --fall-duration: 9.075s;
    --fall-delay: 4.619s;
  }
  .star:nth-child(28) {
    --star-tail-length: 7.05em;
    --top-offset: 48.49vh;
    --fall-duration: 11.511s;
    --fall-delay: 6.494s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.98em;
    --top-offset: 48.75vh;
    --fall-duration: 11.209s;
    --fall-delay: 1.175s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.17em;
    --top-offset: 89.49vh;
    --fall-duration: 10.494s;
    --fall-delay: 5.484s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.08em;
    --top-offset: 96.87vh;
    --fall-duration: 8.625s;
    --fall-delay: 8.66s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.93em;
    --top-offset: 18.84vh;
    --fall-duration: 6.224s;
    --fall-delay: 4.627s;
  }
  .star:nth-child(33) {
    --star-tail-length: 7.11em;
    --top-offset: 17.11vh;
    --fall-duration: 9.056s;
    --fall-delay: 8.375s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.76em;
    --top-offset: 39.69vh;
    --fall-duration: 8.213s;
    --fall-delay: 0.083s;
  }
  .star:nth-child(35) {
    --star-tail-length: 7.26em;
    --top-offset: 93.26vh;
    --fall-duration: 6.537s;
    --fall-delay: 0.12s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.76em;
    --top-offset: 99.58vh;
    --fall-duration: 9.355s;
    --fall-delay: 5.201s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.03em;
    --top-offset: 89.9vh;
    --fall-duration: 8.698s;
    --fall-delay: 0.502s;
  }
  .star:nth-child(38) {
    --star-tail-length: 7.38em;
    --top-offset: 97.81vh;
    --fall-duration: 8.914s;
    --fall-delay: 7.199s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.53em;
    --top-offset: 77.93vh;
    --fall-duration: 9.765s;
    --fall-delay: 3.558s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.78em;
    --top-offset: 83.23vh;
    --fall-duration: 11.562s;
    --fall-delay: 6.475s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.79em;
    --top-offset: 25.69vh;
    --fall-duration: 9.993s;
    --fall-delay: 8.548s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.72em;
    --top-offset: 45.65vh;
    --fall-duration: 10.503s;
    --fall-delay: 3.272s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.78em;
    --top-offset: 42.47vh;
    --fall-duration: 8.726s;
    --fall-delay: 3.376s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.34em;
    --top-offset: 26.99vh;
    --fall-duration: 9.424s;
    --fall-delay: 9.391s;
  }
  .star:nth-child(45) {
    --star-tail-length: 5.35em;
    --top-offset: 55.09vh;
    --fall-duration: 7.119s;
    --fall-delay: 3.954s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.67em;
    --top-offset: 26.22vh;
    --fall-duration: 6.343s;
    --fall-delay: 4.871s;
  }
  .star:nth-child(47) {
    --star-tail-length: 7.05em;
    --top-offset: 66.84vh;
    --fall-duration: 9.155s;
    --fall-delay: 7.108s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.81em;
    --top-offset: 93.31vh;
    --fall-duration: 7.949s;
    --fall-delay: 9.581s;
  }
  .star:nth-child(49) {
    --star-tail-length: 7.38em;
    --top-offset: 59.52vh;
    --fall-duration: 9.753s;
    --fall-delay: 6.56s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.94em;
    --top-offset: 83.28vh;
    --fall-duration: 9.168s;
    --fall-delay: 5.349s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 6s linear infinite;
    z-index: -2;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }