<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div class="fitted">
            <p id="auio"><b>Auíônhumá, Ùrú woê-kiê,</b></div>
        </div>
        <div class="corpo">
            <p>desceu rodopiando num cipó de dentro de um buraco escavado
                entre o céu do <b>Çubúrbio</b>. Mar de vagalumes que acenderam os topázios. Enriu numa gargalhoada
                catimbozeira: <i>quiácácácácácácácá</i>, e rodopiou em gira. Petelecou flor de amendoeira e maracujá,
                sereno caindo nos acasos, nasceu Dioilson do sumo dos paralelepípedos esbraseados pelo Sol de
                Zambarambau, já espoleta pelas meninices, chutando trapo de bola. Dioilson era magro feito
                cambitos, os pés pezudos e as mãos mãozudas, e os olhos vesgos como jabuticabas avariadas.
                Quando de muito, viu Irlei vindo pela ponta da rua, numa esqueciquina conversando com seus trecos
                encacarecados. Quando correu, trupicou pelos paralelepípedos, perdendo tampão de dedão e abrindo
                berreiro.</p>
        </div>

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>

<!--
    experimentar topázio colorido
    adicionar botões de navegação
-->