<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div></div>
        <div class="head">
            <p>Auíônhumá,</p>  
            <p>Ùrú woê-kiê,</p>
            <p>A Grande Velha Vó</p>
        </div>
        <div class="corpo">
            <p>A CãVó dos Pivetes e da Molequerada, a
                Mais Velha dentre as Velhas da Aldeia Ûrupimirim às margens da Avenida Brasil. Mas mais
                conhecida como Dona Miminga. Dona Miminga achegou em beira de Mundo e viu que da Terra
                coberta de topázios surgia Çubúrbio: com seus postes capengas, suas ruas de pés-de-moleques e
                paralelepípedos, seus viadutos encaracolados, seus barracos apinhados no dorso dos morros
                barrigudos e o Sol de Zambarambau com seus raios-espinhentos esbraseando tudo com seu fogo
                ancestralizado.</p>
               <p>A’zúluà, com Dona Miminga, rodeada de moleques empivetados, corizados atrepando em
                    postes, mordendo o rosa das goiabas ainda no pé. A’zúluà pivetrônica, chupando chupeta
                    dependurada como pingente num cordão de barbante, seus olhos vertiginando as origens, sua carazul
                    pintada de jenipapo. Vestia a manhã brilhada em arteirices, arisca roendo rapadura, caroço de angu
                    entalado na goela.
                </p>
                <div class="player">
                <div style="padding:55% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/148751763?color=ff9933&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
        </div>
        
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>

<!--
    vídeo está responsivo, porém muito grande em telas grandes - tentar resolver
    adicionar botões de navegação
    adicionar bootstrap collapsible para mostrar o vídeo
-->