<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <svg viewBox="-50 -20 600 200" preserveAspectRatio="none">
            <path id="curve" d="M6,150C49.63,93,105.79,36.65,156.2,47.55,207.89,58.74,213,131.91,264,150c40.67,14.43,108.57-6.91,229-145" />
            <text width="500">
              <textPath xlink:href="#curve">
                Ùrú woê-kiê que atravessava, enflechada sob o couro curtido de sua pele de cobra,
              </textPath>
            </text>
          </svg>
        <div class="corpo">
            <p>  a poeira
                assentada do terreiro. Passou então uns redemoinhos agitando as poeiras, as alembranças fincadas
                nos abacateiros bicados pelos tico-ticos piripintando sob as luzes. Auíônhumá pegou pó de terreiro
                nas mãos e soprou fumaça-de-mato: ninho de crianças caiu amolecido no chão empedregado,
                brincando de piques, gritando pelos quintais entocados pelos latidos.
            </p>
               <p>Um facho <u>colorido</u> escapuliu céu afora, Rainhabá Oxum desceu pelo arco-íris: <br> e já até rolava
                golzinho, de lá pra cá, daqui pra acolá. </p>
                <div class="player">
                  <div style="padding:55% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/148751763?color=ff9933&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                  </div>        
              </div>
        

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>

<!--
      adicionar botões de navegação
    adicionar bootstrap collapsible para mostrar o vídeo
-->