<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div class="corpo">
                    <p id="foot">
                    Traves de lata de óleo de soja,
                        trapo de bola dentão-de-leite,
                    era um chute e a danada dava
                    vários rodopios no ar.  Irlei que ajeitou a bola, mas era pereba, perna-de-pau e num chute enviesado, chutou mais chão que bola e caiu
                    num ganido. A bola estrepulicou no ar, pois ventarava naquele momento, e caiu nos pés de Dioilson, que era outro
                    perna-de-pau. Tentou dominar o caroço, mas nada. Escapuliu pelo meio das canelas, e Yjá, que era
                    catiça e bate-bola em idos de carnaval, gostava de se juntar a molecada, ela pegou a bola, driblou um, driblou dois, e num ovinho pelo terceiro, chutou de trivela e a bola rodopiando...
                    </p>
                </div>
        </div>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>


<!-- formatar melhor
adicionar botoes navegacao-->