<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">

        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div class="corpo" style="line-height: 1.5;">
            <p style="margin-bottom: 5%"><span>Çubúrbio</span> renascia prenhe de flamenguistas esfarrapados mordendo um lado da manhã
                invertida, a molecada de troça catando barrigudinhos-de-vala e os raios solares comendo as vistas
                das gentes de cabelos-crespos, valões sararás correando atravessando dentre becos e vielas, sambas e rimas na ponta dos beiços pelos botecos.</p>
                <p style="margin-bottom: 5%; text-align: center;"><span>Varria um vento, muito redemoinho, o tempo se rachando, caindo em farinha-de-mandioca.</span></p>
            <p style="margin-bottom: 5%">Pela ponta da rua vinha o vendedor de cuscuz e cocada, rindo pela boca bamba, então era
                Domingo de Carnaval dum segundo pra outro, e a Mangueira deslizando açucadoramente esfiapada
                pela Sapucaí.</p>
                <p style="margin-bottom: 5%">Sonhos e promessas, Tiavó Nena dizia a Dioilson que lá pelas prefundas, Bisavô Sérgio
                Gomes da Silveira e seu irmãozãzão Pantaleão, tavam de prosa no alpendre quando Abacateiro ficou prenhe de alma de Mãe Mumunzá, e virou Mãmãe-Abacateiro nuns batuques de beiços pelos
                caroços.</p>
            
            <p>Pegou folha e meteu debaixo de braço, uma, e outra debaixo do travesseiro junto com tesoura
            enferrujada, pra saci não vim de noite e fazer troça: azedar água de bica, meter nó na crina dos
            cavalos e colocar caroço de manga em cu de galinha pra ficar entalada e não botar ovo.</p>
        </div>

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/corria.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>