<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <link rel=stylesheet type=text/css href="/static/stars.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div class="stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
        <div class="corpo">
            <p>A Véia Miminga lembrançava então uns idos, lambendo fiapos de manga, fiando palha pra
                montá balaio:
                — Vieram destrelas, lá dos Sóisinhos bribrilhando nas altura. Eu quê vi, e Mãe deles todos aí:
                Dioilson, A’zúluà, Yjá,Ygê, Cidelço, Longilho, Jaína e uns montão d’Outros. A bichinha da Mãe
                d’Eles Todos nem da embuchada que tava, mas Mãe d’Ela, também sou, Mãe-da-Mãe — disse.
                Continuou: — Mãe d’Eles ainda quê moça, moçinha. Daí, que dontem pra ôje, ficou assim,
                barriguda. Foi nove mês que não. Nem pai tinha. Cricriaram-se poraí mermo, largados em terreiro,
                enlameados, roendo cipó comendo bunda de saúva com farinha-de-mandioca.</p>
                
                <p>Quando Sol de Zambarambau, gema espinhenta escaldante, surgiu rebentando aurora sobre
                    Vilarrua Acorizal, corriam ariscos a molecada, nos piques e futebóis, Dioilson que delirava vendo os passarins tudo por cima da copa das amendoeiras, que lançavam sombras folheadas sobre os
                    princípios.</p>
                

        </div>

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>