<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div class="fitted">
            <p id="auio">Ùrú woê-kiê coçava erisipela</div>
        </div>
        <div class="corpo" style="padding-top: 0;">
            <p>nas pernas inchadas e pelejava com pente em cabelo de Ygê
                bem do crespo, que chorava com o couro cabeludo puxado, pois Dona Miminga catava a piolhada
                que lhe zunia na cabecinha. Tavam as duas num quintal, perto do alpendre, de longe relinchava um
                pangaré, e o vendedor de pirulito chupetinha e casquinha era cercado pelos batebolas estalando bem
                alto as bexigas-de-plástico no chão.</p>
            <p style="text-align: center;">
                <b>Os terreiros nuns escarapuços, num atotô de tirar fogo do barro. </b>
            </p>
            <p>
                Algum moleque pelas reentrâncias duma esquina, soltava cabeção-de-nêgo e os busca-pés
zuniam pelo céu, fedorento que nem barbantinho-cheiroso.
            </p>
            <p>
                E a molecada que caía na gargalhada, chupando dedo marmelado e se atrepando em
pau-de-sebo, pois na ponta tinha nota de cem, que dava pra um monte de pipa, deizinho, linha roca,
piões, bolas-de-gude e muita bala Juquinha.
            </p>
            <p>
                Nessa de Auíônhumá catar piolho de Yjá, ou Ygê? Seria Jaína? Não se sabe. Mas nessa de
catar piolho e olhar pra terreiro nos beija-flores rodopiando pelas ave-marias, apareceu Carlinda,
num saião cheio de babados, o pescoço em penduricalhos e fios-de-contas e o adê na cabeça
lançando lhe uma franja de vidrilhos sobre a fronte. Vinha requebrada, as ancas sinuosas, o Sol de
Zambarambau relampejando coloridamente pelos vidrilhos, e a poeira do terreiro pegando fogo,
lançando faíscas no crepúsculo ensolarado.
            </p>
        </div>

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>