<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/texto.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
        <div class="corpo">
            <p style="text-align: center; font-size: clamp(40px, 50vw, 40vh);">CARLINDA</p>
              <!--   
                <p>Daquelas tardes de meninice, era preciso crer e não mentir, se porventura, agora, naquele
                    exato instante, tombasse de supetão, rápido, inflexivelmente, a vida... e ria Dioilson com Irlei
                    atravessando o Çubúrbio, dois sem nada e estrupício de gente, rindo à toa, e se dariam por satisfeitos, com tudo rasgado-encantado até agora, com tudo que não teve escolha, arrebatados e dominados pelas ruas e becos escapulindo pelos olhos.</p>-->
                </div> 

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/dioilson.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>