<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="/static/zamba.css">
        <script src="https://kit.fontawesome.com/71d25a5fe6.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>DiOilsOn</title>
    </head>
    <body>
       
        <div class="circ"><p class="small">ZAMBARAMBAU</p>
            <p class="medium"> ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</p></div>
        <div class="corpo">
            
            <p>Ó tardes de cuscuz! <br> Tardes de futebol, de pique-pega, de bolas-de-gude, de vagabundagem,
                de pipas, de pião, de goiabas. <br>
                Estas tardes se foram na ventania do tempo, tardes que muitos esqueceram, mas resiste, no
                topázio das lembranças.
                Outro dia, pelos paralelepípedos esbraseados da Vilarrua Acorizal, duas crianças corriam
                atrás das pipas, entre os pássaros cantando empoleirados pelos fios. <br>
                Pequenos mimos de uma tarde qualquer. <br>
                Jaína, cabelos encarapinhados, sararás, queimados, brilhando naquela tarde quente.<br> Dioilson
                que só. <br>
                E só pensavam em sua Vóvó Fiota, velhinha.</p>
        </div>

        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src=/static/menus.js></script>
        <script src="/static/circletype.js"></script>
        <script src="/static/fitty.min.js"></script>
        <script src="/static/fitting.js"></script>
    </body>
</html>